.navBody{
    height: 50px;
    width: 100%;
    /* border: 1px solid red; */
    background: black;
    color: white;
    padding-top: 15px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav{
    cursor: pointer;
}